a{
  color: white;
  cursor: pointer;
  text-decoration: none;
  margin: 1rem;
}

#h1{
  justify-content: center;
  display: flex;
}
h4{
  color: blue;
}
h5{
  color: black;
}
#d1{
  display: flex;
  flex-direction: column;
}